@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.linkBar > div > a , p {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: center;
}

.linkBar > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pageTitle , h2 {
	font-family: "Audiowide", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: center;
}

body {
	background-image: url("spacede.png");
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 3;
	padding: 2%;
}

.menu {
	grid-row: 1;
	grid-column: span 12;
	background-color:#999;
}

.linkBar {
	padding: 5px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(6, 1fr);
}
	
.content {
	grid-row: 2;
	grid-column: span 12;
	background-color:#666;
}

.footer {
	grid-row: 3;
	grid-column: span 12;
	background-color:#494947;
}

#currentPage {
	padding: 0px;
	background-color: #494947;
	padding-top: 10px;
	padding-bottom: 10px;
}

.linkBarButton {
	transition: transform 1s;
}

.linkBarButton:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

img {
    max-width: 90%;
    margin: auto;
    padding: auto;
	display: block;
}

.sideBySideContent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5%;
	padding: 2%;
}

@media screen and (max-width: 750px) {
	
	.linkBar {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
	}
    
    .menu {
        grid-column: span 12;
    }
    
    h2 , p {
	    text-align:center;
    }
    
    .content {
        grid-column: span 12;
    }
	
	.wrapper {
		grid-template-rows: 3;
	}
	
	.sideBySideContent {
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: 2;
	}
	
}

