@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.linkBar > div > a , p {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: center;
}

.linkBar > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pageTitle , h2 {
	font-family: "Audiowide", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: center;
}

body {
	background-image: url("spacede.png");
}

p, a{
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 3;
	padding: 2%;
}

.menu {
	grid-row: 1;
	grid-column: span 12;
	background-color:#999;
}

.linkBar {
	padding: 5px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(6, 1fr);
}

.footer {
	grid-row: 3;
	grid-column: span 12;
	background-color:#494947;
}

#currentPage {
	padding: 0px;
	background-color: #494947;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content {
	grid-row: 2;
	grid-column: span 12;
	background-color:#666;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.sideBySideContent {
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2%;
	padding: 3%;
	margin: 2%;
	display: grid;
}

.gallery {
	align-self: center;
    justify-self: center;
}

@media screen and (max-width: 1275px) {
	
	.sideBySideContent {
		grid-template-columns: repeat(3, 1fr);
	}
	
}

@media screen and (max-width: 960px) {
	
	.linkBar {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
	}
    
    .menu {
        grid-column: span 12;
    }
    
    .conent {
        grid-column: span 12;
    }
	
	.wrapper {
		grid-template-rows: 3;
	}
	
	.sideBySideContent {
	grid-template-columns: repeat(2,1fr);
	}
	
}


@media screen and (max-width: 650px) {
	
	.sideBySideContent {
	grid-template-columns: repeat(1,1fr);
	}
}