@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.linkBar > div > a {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: center;
}

.linkBar > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pageTitle{
	font-family: "Audiowide", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: center;
}

h2 {
	font-family: "Audiowide", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: left;
}

p {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: left;
}

body {
	background-image: url("spacede.png");
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 3;
	padding: 2%;
}

.menu {
	grid-row: 1;
	grid-column: span 12;
	background-color:#999;
}

.linkBar {
	display: grid;
	padding: 5px;
	grid-gap: 5px;
	grid-template-columns: repeat(6, 1fr);
	text-align:center;
}

.sideBySideContent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2%;
	padding: 2%;
}

.content {
	grid-row: 2;
	grid-column: span 12;
	background-color:#666;
}

.footer {
	grid-row: 3;
	grid-column: span 12;
	background-color:#494947;
}

#currentPage {
	padding: 0px;
	background-color: #494947;
	padding-top: 10px;
	padding-bottom: 10px;
}

iframe {
	width: 100%;
	height: 100%;
}


@media screen and (max-width: 800px) {
	
	.linkBar {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
	}
	
	.sideBySideContent {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	}
    
    .menu {
        grid-column: span 12;
    }
    
    h2, p {
	    text-align: center;
    }
    
    .content {
        grid-column: span 12;
    }
	
	.wrapper {
		grid-template-rows: 3;
	}
	
	iframe {
		width: 1fr;
	}
	
}

