@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.linkBar > div > a , p {
	color:#EFEEFF;
	font-family: "Comfortaa", Helvetica, sans-serif;
	text-align: center;
}

.linkBar > div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pageTitle , h2 {
	font-family: "Audiowide", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: center;
}

body {
	background-image: url("spacede.png");
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 2;
	padding: 2%;
}

.menu {
	grid-row: 1;
	grid-column: span 12;
	background-color:#999;
}

.linkBar {
	padding: 5px;
	grid-gap: 5px;
	margin-top: auto;
	margin-bottom: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.content {
	grid-row: 2;
	grid-column: span 12;
	background-color:#666;
	padding: 2%;
}

#currentPage {
	padding: 0px;
	background-color: #494947;
	padding-top: 10px;
	padding-bottom: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.sideBySideContent {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2%;
	padding: 2%;
}

#contactNotice {
	vertical-align: middle;
}

H2 {
	font-size: 45px;
}

.FAQ {
	text-align: left;
}

@media screen and (max-width: 750px) {
	
	.linkBar {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
	}
    
    .menu {
        grid-column: span 12;
    }
    
    .content {
        grid-column: span 12;
    }
	
	.wrapper {
		grid-template-rows: 3;
	}
	
}

